
canvas {
	/*border: 4px solid #ff00d5;*/
}

#latlng-control {
	background: rgba(0,0,0,0.2);
	color: white;
	font-family: 'Source Code Pro', sans-serif; font-weight: 200; 
	font-size: 0.7em;
	padding: 2px 4px;
	position: absolute;
}

html { 
	height: 100% 
}

body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
}

#map_canvas { 
	height: 100%; 
}
